*{
    margin: 0;
    padding: 0;
}

.logo{
   height: 10%;
   display: flex;
}
.logo img{
    height: 50px;
}
.navbar{
   display: flex;
}
.nav-list{
    width: 50%;
    display: flex;
    margin: 2%;
    background-color: yellow;
}
.nav-list li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.rightNav{
    width: 50%; 
    display: flex;
    margin: 2%;  
    background-color: blue;

}
#search{
   height: 30%;
   display: flex;
   justify-content: center;
   align-items: center;

}
.btn{
   height: fit-content;
    background-color: aqua;
}
.btn-sm{
  
    
}
